<!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="index.html"><!-- ><img src="/images/ChorisM2M-Logo-White(black-matte.gif" width="171px" height="21px"> -->
            	niimbus EVENTS
            </a>

            <!-- shows same menu as sidebar but for mobile devices -->
            <button type="button" class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>            
            <div class="nav-collapse collapse visible-phone mobile-menu">
                <!-- <ul class="nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="chart-showcase.html">Charts</a></li>
                    <li><a href="user-list.html">Users</a></li>
                    <li><a href="form-showcase.html">Forms</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="ui-elements.html">UI Elements</a></li>
                </ul>-->
            </div>
            <!-- end navbar for mobile devices -->

            <ul class="nav pull-right">
                <% if shop_session %>
               <!--  <li class="hidden-phone">
                    <input class="search" type="text">
                </li>-->
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        <%= session[:shopify].url %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Billing</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Send feedback</a></li>
                       
                    </ul>
                </li>
                	
                <li id="fat-menu" class="dropdown">
                    <li><%= link_to raw('<i class="logout"></i> Logout'), logout_path, :method => :delete %></li>
                </li>
                <% else %>
                	
                
                <% end %>
                
            </ul>            
        </div>
    </div>
    <!-- end navbar -->